*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: gray;
display: flex;
  justify-content: space-between;

}



#logo{
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .625rem;
}


header ul{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  list-style: none;

}

header a{
  text-decoration: none;
  text-align: end;
  padding-right: 20px;
  color: rgb(27, 26, 23);
  font-weight: bold;

}


.search{
  border: none;
  border-radius: 5px ;
  padding: 5px;
}


.form-list{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit{
  border: none;
  padding: 5px;
  border-radius: 4px;
}