* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-box {
    background: whitesmoke;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: start;
}
#SignIn
{
    text-align: center ;
    margin-bottom: 20px;
}
button {
    display: block;
    width: 400px;
    height: 30px;
}

#btn1 {
    margin-top: 30px;
    margin-bottom: 10px;
}
#btn2
{
    margin-bottom: 10px;
}

hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

label {
    display: block;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid gray;
    padding-left: 5px;
}

#country_label {
    margin-bottom: 10px;
}

#country {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid gray;
    margin-bottom:10PX ;
}

#chbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    accent-color: gray;
    cursor: pointer;
    margin: 0;
}

#prf {

    display: inline;
    margin: 0;
}
p{
    float: right;
}
#sign_up{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 400px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid gray;
    padding-left: 5px;
    background-color: #1F2328 ;
    color: #FFFFFF;
   
}
#sign_in
{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 400px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid gray;
    padding-left: 5px;
    background-color: #1F883D ;
    color: #FFFFFF;
   
}