.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}

.home {
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: large;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size: large;
}

.forFotter {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size: large;
}
