*
{
    margin: 0;
    padding: 0;
}
header
{
    background-color: #686868 ;
    padding: 10px;
    height: 50px;
}
img
{
    width: 70px;
    border-radius:50%;
    border: none;
    margin-right:10px ;
}
nav
{
    display: flex;
    justify-content: space-between;
}
#logo
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}
#logo a
{
    color:#fff;
    text-decoration: none;
}

.links-search ul 
{ 
    margin-top: 15px;
    list-style: none;
}
.links-search ul li
{
    padding-right: 20px;
    display: inline;
}
.links-search ul li a
{
    text-decoration: none;
    color:#fff;
}
h2
{

    text-align: center;
}