*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
    display: inline-block;
}
.bg-gry{
    background-color: rgb(248, 245, 245);
}
.bg-orange{
    background-color: rgb(235, 82, 26);
}
.bg-dark{
    background-color: rgb(49, 47, 47);
}
.text-orange{
    color: orange;
}
.logo-sec{
    margin: 10px;
    padding: 10px;
}
.w-60{
    width: 60%;
}
.text-center{
    text-align: center;
}
.logo-sec img{
    margin: 8px;
}
.head-nav{
    display: inline-block;
    list-style: none;
    margin-top: -60px;
    margin-left: 700px;
}
.head-nav li{
    display: inline-block;
    margin-left: 15px;
       
}
.head-nav li a{
    text-decoration: none;
    color: rgb(147, 146, 146);
    font-size: 20px;
}
.head-nav li img{
    margin-bottom: -10px; 
    width: 90%;
}
.head-container {
    text-align: center; 
    background-color: rgb(248, 245, 245);
    padding-bottom: 100px;
}

.head-welcome,
.head-img {
    display: inline-block; 
    vertical-align: top;
}

.head-welcome {
    width: 40%; 
    text-align: left; 
    margin-top: 10%;
    margin-right: 8%;
}
.head-welcome h1{
    font-size: 70px;
    margin-bottom: 4%;
}

.head-img {
    width: 30%; 
    margin-top: 8%;

}
.head-container button{
    padding: 10px 30px;
    margin: 35px 0px;
    color: whitesmoke;
    border: none;  
}
.our-serv{
    margin:30px auto;
    text-align: center;
    margin: 100px 0px;

}
.our-serv p{
    margin: 10px 0px;
}
.card{
   width: 28%;  
   text-align: center;
   /* margin: 70px 30px; */
   margin-left: 30px;
   border: 1px solid rgb(203, 200, 200);
   border-radius: 5px;
   padding: 10px;
   display: inline-block;

}
/* .card :hover{
    border-top: 3px solid rgb(235, 82, 26);
} */
 .border:hover{
    border-top: 6px solid  rgb(244, 98, 45);
 }
.card img{
    margin: 8% 0% 0%;
}
.gauva{
    width: 74px;
}
.card h4{
    margin: 4% 0%;
}
.card p{
    padding: 15px;
}
.read-more{
    text-align: center;

}
.read-more button{
    padding: 10px 30px;
    font-size: 20px;
    /* margin-bottom: 80px; */
    color: white;
}
.read-more button:hover{
    background-color: transparent;
    color:black ;

}
.mid{
    margin: 80px auto;
    width: 80%;
}
.best{
    font-size: 30px;
    margin: 30px 0px;
}
.best-text{
    margin:40px 0px 40px;

}

.buy-now{
    padding: 10px 30px;
    font-size: 20px;
    margin-bottom: 80px;
    color: white;
}
.buy-now:hover{
    background-color: transparent;
    color:black ;
}
.bg-img{
    background-image: url(images/tasty.png);
    background-size: cover;
    text-align: center;
    height: 70vh;
    background-attachment: fixed;

    
}
.bg-img h1{
    color: white;
    font-size: 100px;
    padding-top: 220px;}
.text-center h1{
    margin: 20px 0px;
    font-size: 50px;
}
.grape-img{
    width: 190px;
    margin-right: 80px;
} 
.testimon{
    width:30%;
    margin: auto;
    text-align: center;
}
.testimon h1{
    margin: 20px 0px;
}
.contact{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin: 40px 120px;
}
.dish-img{
    margin-left: 292px;
    width: 250px;
    margin-top: 70px;

}
.conact-dish{
    margin: 70px 0px;
}
.contact h1{
    margin: 30px 0px;
    font-size: 40px;
}
.contact input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid black;
    width: 600px;  
    margin-bottom: 15px; 
    background-color: white;  
    display: block;
}

textarea{
    border: none;
    resize: none;
    width: 600px; 
    border-bottom: 1px solid black; 
    padding: 40px;

} 
.contact button{
    background-color: rgb(244, 98, 45);
    padding: 10px 40px;
    border: none;
    color: white;
    margin: 20px 0px;

}
.contact button:hover{
    color: black;
    background-color: transparent;
    border: 1px solid orange;
}
.w-30{
    width: 35px;
        display: inline-block;
}
.p{
    margin: 25px 0px;
    font-weight: bold;
    font-size: 22px;
}
.foot p{
    margin: 10px 0px;

}
.foot a:hover{
    color: gray;
}

.big input{
    padding: 5px;
    width: 230px;
}
.last{
    padding: 20px 0px;
}
.custom{
    width: 120px;
}
.sub{
    font-size: 25px;
}
.big button{
    border: none;
    padding: 8px 30px;
    color: white;
}

.big td{
    margin: 15px 0px;
}



