@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,900&family=Poppins&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* ==========root========= */
:root{
    --violet: #7541c8;
    --dark-gry: #48556a;
    --dark-blue: #19212e;
    --white: #ffffff;

    --light-gry: #cfcfcf;
    --light-blue: #ecf2f8;

    --ff: "Barlow Semi Condensed" ,sans-serif;
    --fw-400: 500;
    --fw-700:600;
    --fs-small:0.6875rem;
    --fs-meduim:0.8125rem;
    --fs-large:1.25rem;


}


/*============= Reset ==================== */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
}
body{
    font-family:var(--ff);
    font-size: var(--fs-meduim);
    font-weight: var(--fw-400);
    color: var(--light-blue);
    display: grid;  
  

}

/* =================text style ====================== */
.name ,.work{
    color: var(--light-blue);
}
.name{
    font-weight: var(--fw-700);
}
.work{
   opacity: 50%;
}
.content p:not([class]){
    opacity: 70%;
}
/* ======card====== */
.card{
    background-color: var(--violet);
    padding: 1.25rem;
    border-radius: .5rem;

}
.testimonials{
    display: grid;
    gap: 1.25rem;
    width: min(90%,70rem);
    margin: 4rem auto;
    grid-auto-columns:1fr ;
    grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five' ;

}
.d-flex{
    display: flex;
    align-items: center;
    gap: .8rem;
}
.user-info img{
    width: 2rem;
    border-radius: 50%;
    border: 1px solid var(--light-blue);
}
.head{
    font-size: var(--fs-large);
    color: var(--white);
    margin:1rem  .8rem;

}
.bg-gry{
    background-color: var(--dark-gry);
}
.bg-darkblue{
    background-color: var(--dark-blue);
}
.bg-light{
    background-color: var(--white);
    
}
.text-dark{
    color: var(--dark-blue);

}


@media(min-width:750px){

}
