body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.container {
    width: 350px;
    margin: 80px , auto;
    background-color:white ;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) ;
}
label {
    display:block;
    margin: 10px 0 5px;
}
input , textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #ccc;

}

textarea {
    resize: none;
    height: 80px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #0b817b;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover  {
     background-color: #096f6b;
}